@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #5a0607;
  --secondary-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #510102;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a0505;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  /* margin-bottom: 1rem; */
}

span.text-gold {
  color: #f9a602;
}

section {
  min-height: 100dvh;
}

section.red{
  background-color: var(--primary-color);
  color: white;
}
section.white{
  background-color: var(--secondary-color);
  color: black;
}

section.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

div.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.hannah{
  width: 50%;
  border-radius: 100%;
}

div.text{
  text-align: left;
}

@media (max-width: 1000px) {
  section.banner {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    /* margin-bottom: 1rem; */
  }
  img.hannah{
    width: 80%;
  }
  
}